<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String To Image</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
    <style>
        body { font-family: sans-serif; }
        h1.logo { font-family: 'Faster One', cursive; }
        
    </style>
</head>
<body>
    <h1 class="logo">STI</h1>
    <h1>String to image API</h1>

    <article>
        <h2>Usage</h2>
        <p>
            Parameters for <code>/api/v1/string-to-image</code>
            or <code>/string-to-image.png</code>
            <ul>
                <li>text</li>
                <li>font_name</li>
                <li>font_size</li>
            </ul>
        </p>
        <p>
            Parameters for <code>/api/v1/json-to-image</code>
            or <code>/json-to-image.png</code>
            <ul>
                <li>json_url</li>
                <li>json_path</li>
                <li>font_name</li>
                <li>font_size</li>
            </ul>
        </p>
        <h3>Examples</h3>
        <p>
            <code>
                https://sti.wielo.co/api/v1/string-to-image?text=2.12.2-rc.10&font_size=40
            </code>
        </p>
        <p>
            <code>
                https://sti.wielo.co/api/v1/json-to-image?json_url=https://example.com/version.json&json_path=version
            </code>
        </p>
    </article>
</body>
</html>
